body, html{
   background: black;
   color: white;
   font-family: Helvetica Neue, Helvetica, sans-serif; 
   height: 100%;
}

.header{
   text-align: center;
   text-transform: uppercase;
}

.header h1{
   color: white;
   margin: 0 auto 0 auto;
}

.header ul{
   list-style-type: none;
   background: #303030;
   font-size: 20px;
   margin: 0;
   padding: 0;      
}

.header li{display: inline;}
 
.header li a{
   color: white;
   text-decoration: none;
   padding: 5%;
}

.container.scrolling{
   background-image: linear-gradient(170deg, black, #303030); 
   display: flex;
   flex-direction: column;
}
 
.footer{
   background-image: linear-gradient(170deg, black, #303030);
   padding: 20px;
}

.image-gallery{
   display: flex;
   flex-wrap: wrap;
   object-fit: cover;
}

.image-gallery img {
   flex-grow: 1;
   height: 200px;
   padding: 2px; 
}

.bio img{
   display: block;
   max-width: 100%;
   max-height: 100%;
   margin: 0 auto 0 auto;
}

@media (min-width: 795px){/*Big screens*/

   h1{font-size: 50px;}
   
   .container img{display: none;}

   .fixed{
      min-height: 100%;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
   }

   .fixed.mural-bg{background-image: url("images/mural.JPG");}

   .fixed.yellow-bg{background-image: url("images/yellowimg.png");}

   .fixed.red-bg{background-image: url("images/redimg.png");}
}

@media (max-width: 795px){/*Little screens*/
   
   h1{font-size: 30px;}
   
   .container{
      display: flex;
      flex-direction: column;
   }

   .container img{max-width: 100%;}

   .header li a{
      display: block;
      padding: 0;
   }

   .header li a:hover{
      background-color: #404040;
      color: white;
   }
}
