body, html{
   background: black;
   height: 100%;
}

.fixed{
   min-height: 100%;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
   margin-top: -8px;
   margin-left: -8px;
   margin-right: -9px;
}

.fixed.mural-bg{
   background-image: url("images/mural.JPG");
}

.fixed.yellow-bg{
   background-image: url("images/yellowimg.png");
}

.fixed.red-bg{
   background-image: url("images/redimg.png");
}
 
.scrolling{
   background-image: linear-gradient(170deg, black, #303030);
   color: white;
   font-family: sans-serif;
   padding: 20px;
   min-height: 100%;
   margin-top: -20px;
   margin-bottom: -300px;
   margin-left: -8px;
   margin-right: -9px;
}

.header{
   color: white;
   font-family: sans-serif;
   text-align: center;
   text-transform: uppercase;
   margin-left: -8px;
   margin-right: -9px;
}

.header h1{
   background: black;
   color: white;
   padding: 10px;
   margin-top: -10px;
   font-size: 50px;
}

 .header ul{
   list-style-type: none;
   background: grey;
   padding-top: 5px;
   padding-bottom: 8px;
   margin-top: -34px;
   margin-bottom: 5px;
   font-size: 20px;      
}

.header li{
   display: inline;
}
 
.header li a{
   color: white;
   text-decoration: none;
   padding: 35px;
}

.footer{
   background-image: linear-gradient(170deg, black, #303030);
   color: white;
   font-family: sans-serif;
   padding: 20px;
   min-height: 100px;
   margin-left: -8px;
   margin-right: -9px;
}

#back-to-top{
   color: white;
   text-decoration: none;
}

.image-gallery{
   display: flex;
   flex-wrap: wrap;
   object-fit: cover;
}

.image-gallery img {
   flex-grow: 1;
   height: 200px;
   padding: 2px; 
   vertical-align: text-bottom;
}
