{% extends "base.html" %}
{% block content %}
   <div class="fixed mural-bg">
   </div> <!--mural-bg--!>
   <div class="scrolling about">
         <h2>About</h2>
         <p>
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quiss, accumsan porttitor, facilisisluctus, metus.
         </p>
   </div><!--about--!>
   <div class="fixed yellow-bg">
   </div><!--yellow-bg--!>
   <div class="scrolling shows">
      <h2>Shows</h2>
      <p>
      Summer dates coming soon<br>
      </p>
   </div><!--shows--!>
   <div class="fixed red-bg">
   </div><!--red-bg--!>
{% endblock %} 
