<!DOCTYPE html>
<html lang="en">
   <head>
      <title>New Age Americans</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/style.css"></link>
      <script href="../static/scrolltop.js"></script> 
  </head>
   <body>
      <h1>New Age Americans</h1>
      <div class="header" id="myHeader">
            <a href="javascript:void(0);" class="icon" onclick="nicemenu()">&#9776;</a>
            <a href="/">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/bio">Bio</a>
      </div><!--header-->
      <script>
         function nicemenu(){
            var x = document.getElementById("myHeader")
            if (x.className === "header"){
               x.className += " responsive";
            }else{
               x.className = "header";
            }   
         }
      </script> 
      {% block content %}
      <!--individual page content goes here-->
      {% endblock %}
      <div class="footer">
         <p>
            New Age Americans<br>
            Chicago, IL<br>
         </p>
         <div id="back-to-top">
            {% if layout == "home" %}
            <a href="/">Back to Top</a>
            {% elif layout == "gallery" %}
            <a href="/gallery">Back to Top</a>
            {% elif layout == "bio" %}
            <a href="/bio">Back to Top</a>
            {% endif %}
         </div><!--back-to-top-->
      </div><!--footer-->
   </body>
</html> 
