<!DOCTYPE html>
<html lang="en">
   <head>
      <title>New Age Americans</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/style.css"></link>
      <script href="../static/scrolltop.js"></script> 
  </head>
   <body>
      <div class="social-media">
         <a id="fb" href="https://web.facebook.com/newageamericans/?ref=py_c&_rdr">
            <img src="../static/images/icons/facebook.jpg"></a>
         <a id="yt" href="https://www.youtube.com/channel/UCbt2cn2bK7RUw_Lr_o_StDA">
            <img src="../static/images/icons/youtube.png"></a>
         <a id="in" href="https://www.instagram.com/new__age__americans/">
            <img src="../static/images/icons/instagram.png"></a>
         <a id="sp" href="https://open.spotify.com/artist/00whza32LdxKye3PX6gQxA?si=QUgbmYAjSgK6QqBPkLrqNQ">
            <img src="../static/images/icons/spotify.png"></a>
      </div><!--social-media-->
      <img class="logo" src="../static/images/logo.PNG">
      <div class="nav" id="myNav">
            <a href="javascript:void(0);" class="icon" onclick="nicemenu()">&#9776;</a>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/gallery">Gallery</a>
            <a href="/bio">Bio</a>
            <a href="/merch">Merch</a>
      </div><!--nav-->
      <script>
         function nicemenu(){
            var x = document.getElementById("myNav")
            if (x.className === "nav"){
               x.className += " open-nav";
            }else{
               x.className = "nav";
            } 
         }

         function MouseRollover(MyImage) {
              MyImage.src = "../static/images/merch/shirtback.PNG";
         }
         function MouseOut(MyImage) {
             MyImage.src = "../static/images/merch/shirtfront.PNG";
         }
      </script> 
      {% block content %}
      <!--individual page content goes here-->
      {% endblock %}
      <div class="footer">
         <p>
            New Age Americans<br>
            Chicago, IL<br>
         </p>
         <div id="back-to-top">
            {% if layout == "home" %}
            <a href="/">Back to Top</a>
            {% elif layout == "about" %}
            <a href="/about">Back To Top</a>
            {% elif layout == "gallery" %}
            <a href="/gallery">Back to Top</a>
            {% elif layout == "bio" %}
            <a href="/bio">Back to Top</a>
            {% endif %}
         </div><!--back-to-top-->
      </div><!--footer-->
   </body>
</html> 
