{% extends "base.html" %}
{% block content %}
<div class="axel">
    <p><img height="200" src="../static/images/bio/axel.jpg">
    Our newest member, Axel Moreen plays piano and guitar for New Age Americans. He is a high school senior, Wheaton local, and a lifelong musician. His favorite band is Snarky Puppy."</p>
</div><!--axel-->
<div class="jake">
    <p><img height="200" src="../static/images/bio/jake.jpg">
    Jake Smith lives in West Chicago, IL. He is the bass player and vocalist for New Age Americans and is a junior in high school. Jake plays baseball and loves to fish when he gets some down time. His favorite band is Cage The Elephant."</p>
</div><!--jake-->
<div class="kieran">
    <p><img height="200" src="../static/images/bio/kieran.jpg">
    Kieran Schoaf is a 16 year old high school junior and lives in Bloomingdale, IL. He plays drums for New Age Americans. His hobbies include eating food, playing video games, and volleyball. Kieran's favorite drummer is The Rev from Avenged Sevenfold (his favorite band). He is also the drummer for Written in Stone."</p>
</div><!--kieran-->
<div class="tyler">
    <p><img height="200" src="../static/images/bio/tyler.jpg">
    Tyler Hodgett is a 17 year old junior and lives in West Chicago, IL. He is New Age Americans' rhythym guitarist and vocalist. His hobbies are playing video games, reading, and politics. At school, he is involved in a music ensemble, math team, and baseball team. His favorite band is Green Day."</p>
</div><!--tyler-->
{% endblock %}
