{% extends "base.html" %}
{% block content %}
<div class="jake">
    <p><img height="200" src="../static/images/bio/jake.jpg">
    <h2>Jake Smith</h2>Jake Lives in West Chicago and is a high school junior. He is the bass player and sings backup vocals for the band. Jake has been playing live shows with bandmate Tyler Hodgett for almost five years now. Jake is an athlete and enjoys fishing on the side from music. He will occasionally play a fine piece of kit. His favorite performer is Barns Courtney.</p>
</div><!--jake-->
<div class="kieran">
    <p><img height="200" src="../static/images/bio/kieran.jpg">
    <h2>Kieran Shoaf</h2>Kieran is a high school junior and lives in Bartlett, IL. He is the drummer in New Age Americans. His hobbies include listening to music, hanging out with friends, and mixing live sound. His idol in the music industry is The Rev from Avenged Sevenfold, his favorite band. </p>
</div><!--kieran-->
<div class="tyler">
    <p><img height="200" src="../static/images/bio/tyler.jpg">
    <h2>Tyler Hodgett</h2>Tyler is a senior and lives in West Chicago, IL. He is New Age Americans' lead guitarist and lead vocalist. His hobbies include working out, watching movies, playing guitar, and drinking coffee. His biggest inspirations are Jimi Hendrix, Jimmy Page, and Stevie Ray Vaughn.</p>
</div><!--tyler-->
{% endblock %}
