{% extends "base.html" %}
{% block content %}
   <section class="image-gallery">   
      {% for gallery_image_name in gallery_image_names %}
         <a href="../static/images/gallery/{{gallery_image_name}}">
         <img src="../static/images/thumbnails/{{gallery_image_name}}">
         </a>
      {% endfor %}
   </section><!--image-gallery-->
   <section class"video-gallery">
      {% for gallery_video_name in gallery_video_names %}
      <video controls><source src="../static/videos/{{gallery_video_name}}" type="video/mp4"></video>
      {% endfor %}
   </section><!--video-gallery-->
{% endblock %}
