{% extends "base.html" %}
{% block content %}
   <div class="fixed bg-1">
   </div> <!--bg-1-->
   <div class="container b1">
      <img src="../static/images/mural.JPG">
   </div><!--container b1-->
   <div class="container scrolling about">
         <h2>About</h2>
         <p>New Age Americans is a band of local musicians based in Chicago, Illinois.</p>
   </div><!--about-->
   <div class="fixed bg-2">
   </div><!--bg-2-->
   <div class="container b2">
      <img src="../static/images/yellowimg.png">
   </div><!--container b2-->
   <div class="container scrolling shows">
      <h2>Shows</h2>
      <ul>
         <li>2015 SHOWS
            <ul>
            <li>February 14 - Hawthornes</li>
            <li>May 21 - Coopers Corner</li>
            <li>June 12 - Hawthornes</li>
            <li>July 19 - Hawthornes</li>
            <li>September 19 - Penny Road Pub - FEAT: Written in Stone</li>
            <li>October 24 - Oasis Cafe</li>
            <li>December 11 - Hawthornes</li>
            </ul>
         </li>
         <li>2016 SHOWS
            <ul>
            <li>January 2 - Even Flow</li>
            <li>January 14 - Smooth Fox</li>
            <li>January 22 - The House Cafe</li>
            <li>February 24 - Coach House</li>
            <li>April 15 - Even Flow</li>
            <li>June 17 - Hawthornes</li>
            <li>July 15 - Hawthornes</li>
            <li>August 12 - Hawthornes</li>
            </ul>
         </li>
         <li>2017 SHOWS
            <ul>
            <li>January 15 - Two Old Hippies</li>
            <li>February 24 - Coach House FOP Polar Plunge Fundraiser</li>
            <li>April 15 - Even Flow Bleeding Hearts Fest</li>
            </ul>
         </li>
      </ul>
   </div><!--shows-->
   <div class="fixed bg-3">
   </div><!--bg-3-->
   <div class="container b3">
      <img src="../static/images/graphic.JPG">
   </div><!--container b3-->
{% endblock %} 
