{% extends "base.html" %}
{% block content %}
<div class="fixed bg-1">
</div> <!--bg-1-->
<div class="container b1">
    <img src="../static/images/wallpaper.PNG">
</div><!--container b1-->
<div class="container scrolling shows">
    <h2>Shows</h2>
    <ul>
        <li><b>2015</b></li> 
        <li> February 14 - <em>Hawthornes</em></li>
        <li> May 21 - <em>Coopers Corner</em></li>
        <li> June 12 - <em>Hawthornes</em></li>
        <li> July 19 - <em>Hawthornes</em></li>
        <li> Sep 19 - <em>Penny Road Pub - FEAT: Written in Stone</em></li>
        <li>October 24 - <em>Oasis Cafe</em></li>
        <li>December 11 - <em>Hawthornes</em></li>
    </ul>
    <ul>
        <li><b>2016</b></li> 
        <li>January 2 - <em>Even Flow</em></li>
        <li>January 14 - <em>Smooth Fox</em></li>
        <li>January 22 - <em>The House Cafe</em></li>
        <li>February 24 - <em>Coach House</em></li>
        <li>April 15 - <em>Even Flow</em></li>
        <li>June 17 - <em>Hawthornes</em></li>
        <li>July 15 - <em>Hawthornes</em></li>
        <li>August 12 - <em>Hawthornes</em></li>
    </ul>
    <ul>
        <li><b>2017</b></li> 
        <li>January 15 - <em>Two Old Hippies</em></li>
        <li>February 24 - <em>Coach House FOP Polar Plunge Fundraiser</em></li>
        <li>April 15 - <em>Even Flow Bleeding Hearts Fest</em></li>
        <li>May 15 - <em>Penny Road Pub</em></li>
        <li>June 10 - <em>Lake Villa Festival</em></li>
        <li>July 20 - <em>Penny Road Pub</em></li>
        <li>November 24 - <em>Even Flow</em> - <strong>5:30 - 8:30</strong></li>
        <li>December 23 - <em>Cairo Ale House</em> - <strong>7:30 - 9:00</strong></li>
        <li>December 26 - <em>Nevin's Brewing Company</em> - <strong>7:00 - 9:00</strong></li>
    </ul>
    <ul>
        <li><b>2018</b></li>
        <li>February 11 - <em>The Wire</em></li>
    </ul>
</div><!--shows-->
<div class="container b2">
    <img src="../static/images/yellowimg.png">
</div><!--container b2-->
<div class="fixed bg-2">
</div><!--bg-2-->
<div class="container scrolling about">
    <h2>About</h2>
    <p>New Age Americans is a band of local musicians based in Chicago, Illinois.</p>
</div><!--about-->
<div class="fixed bg-3">
</div><!--bg-3-->
<div class="container b3">
    <img src="../static/images/graphic.JPG">
</div><!--container b3-->
{% endblock %} 
