{% extends "base.html" %}
{% block content %}
   <div class="fixed mural-bg">
   </div> <!--mural-bg-->
   <div class="container mural">
      <img src="../static/images/mural.JPG">
   </div><!--container mural-->
   <div class="container scrolling about">
         <h2>About</h2>
         <p>Local musicians based in West Chicago.</p>
   </div><!--about-->
   <div class="fixed yellow-bg">
   </div><!--yellow-bg-->
   <div class="container yellowimg">
      <img src="../static/images/yellowimg.png">
   </div><!--container yellowimg-->
   <div class="container scrolling shows">
      <h2>Shows</h2>
      <p>
      Summer dates coming soon<br>
      </p>
   </div><!--shows-->
   <div class="fixed red-bg">
   </div><!--red-bg-->
   <div class="container redimg">
      <img src="../static/images/redimg.png">
   </div><!--container redimg-->
{% endblock %} 
